# Python
__pycache__/
*.py[cod]
*.pyo

# Virtuelle Umgebung
.venv/
venv/
env/

# VS Code
.vscode/

# Logs
logs/

# Datensätze
input/
preprocessed/
prompts/
generated/

# Temporäre Dateien
*.tmp
*.bak

# Betriebssystem
.DS_Store
Thumbs.db